.container {
  width: 65%;
  margin: 2% auto;
  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    flex-wrap: wrap;
  }
  .image_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    vertical-align: middle;
    .panel{
      margin: 1em auto;
    }
  }


  .form-container {
    display: flex;
    flex-direction: row;
  }
  .image_user_box {
    width: 450px;
    outline: 2px dotted #3f51b5;
    align-items: center;
  }
}
.image_uploaded {
  width: 450px;
  height: auto;
  margin: auto;
  vertical-align: middle;
  padding: 10px;
  cursor: pointer;
  max-width: 95%;

}
.input_select {
  display: flex;
  flex-direction: column;
}
.sub-header {
  text-align: center;
}
.select_model {
  margin: 0 auto;
  padding: 10px;
}
.camera-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .webcam{
    max-width: 95%;


  }
}
    .camera_panel {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    @media (max-width: 600px) {
      .container {
        width: 100%;
      }
    }
