<div class="wrapper">
  <div class="navbar">
    <div class="logo">
      <span class="logo-text">Skin<span class="logo-text1">Detector</span></span>
    </div>
  </div>
  <div class="sidebar">
    <div class="button-wrapper">
      <i class="material-icons" [routerLink]="['']">home</i>
      <i class="material-icons" [routerLink]="['info']">info</i>
      <i class="material-icons" [routerLink]="['chart']">show_chart</i>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>