@import '../../assets/style/button.scss';

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 10% 90%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "navbar sidebar "
    "content sidebar";
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 95%,
    rgba(13, 84, 223) 100%
  );
  
}

.navbar {
  grid-area: navbar;

  .logo {
    margin: 2em;
    user-select: none;

    .logo-text {
      display: block;
      color: white;
      font-size: 2em;
      font-family: "Press Start 2P", cursive;

      .logo-text-extra {
        font-family: "Audiowide", cursive;
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  justify-content: center;
  align-items: center;

  .button-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.content {
  // border: 1px solid red;
}


