<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Skin Detector</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side">
    <nav class="nav-items">
      <button
        [routerLink]="['']"
        routerLinkActive="router-link-active"
        class="item"
        mat-button
      >
        <mat-icon class="icon">home</mat-icon>Home
      </button>
      <button
        class="item"
        mat-button
        [routerLink]="['info']"
        routerLinkActive="router-link-active"
      >
        <mat-icon class="icon">book</mat-icon>Encyklopedia
      </button>
      <button
        class="item"
        mat-button
        [routerLink]="['chart']"
        routerLinkActive="router-link-active"
      >
        <mat-icon class="icon">bar_chart</mat-icon>Wykresy
      </button>
      <button
        class="item"
        mat-button
        [routerLink]="['upload']"
        routerLinkActive="router-link-active"
      >
        <mat-icon class="icon">bar_chart</mat-icon>Upload Model
      </button>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content class="main-container">
    <button
      class="menu-button"
      color="primary"
      mat-raised-button
      (click)="sidenav.toggle()"
    >
      Menu
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
